node_modules
.dendron.*
build

.Rproj.user/
.DS_Store

indexHill.Rmd
SL/
wm/
grand_rounds.md
.unotes/
cache
fighton.md
fonts/
Rmd/
vault/
neurocog_1.csv
neurocog_2.csv
neurocog_3.csv
images/wais4.key
images/wais4.gif
images/IMG_0016.PNG
images/IMG_0017.PNG
.gitignore
images/wais4.png/wais4.png.001.png
.gitignore
images/IMG_0015.PNG
images/wais4.png.001.png
/vault/
/private/
