
/* fighton-fonts.css | file:///Users/joey/projects/fighton/assets/css/fighton-fonts.css */

h3 {
  /* font-size: 1.3em !important; */
}

/* fighton-theme.css | file:///Users/joey/projects/fighton/assets/css/fighton-theme.css */

.title-slide h3 {
  /* font-size: 0.4rem; */
  font-size: 1.4rem;
}

/* fighton-theme.css | file:///Users/joey/projects/fighton/assets/css/fighton-theme.css */

.remark-slide-content p, ul, ol, li {
  /* font-size: 1.6rem; */
  font-size: 1.2rem;
}

body {
  font-family: var(--text-font-family), var(--text-font-family-fallback), var(--text-font-base);
  font-weight: 400;
}

/* fighton-fonts.css | file:///Users/joey/projects/fighton/assets/css/fighton-fonts.css */

body {
  /* font-family: 'Bitter', Prompt, sans-serif; */
  /* font-weight: 400; */
  /* color: var(--near-white); */
}
