/*
   Tachyons
   COLOR VARIABLES
   Grayscale
   - Solids
   - Transparencies
   Colors
*/

:root {
  --black: #000;
  --near-black: #111;
  --dark-gray: #333;
  --mid-gray: #555;
  --gray: #777;
  --silver: #999;
  --light-silver: #aaa;
  --moon-gray: #ccc;
  --light-gray: #eee;
  --near-white: #f4f4f4;
  --white: #fff;

  --transparent: transparent;

  --black-90: rgba(0, 0, 0, 0.9);
  --black-80: rgba(0, 0, 0, 0.8);
  --black-70: rgba(0, 0, 0, 0.7);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-05: rgba(0, 0, 0, 0.05);
  --black-025: rgba(0, 0, 0, 0.025);
  --black-0125: rgba(0, 0, 0, 0.0125);

  --white-90: #ffffffe6;
  --white-80: #ffffffcc;
  --white-70: rgba(255, 255, 255, 0.7);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-05: rgba(255, 255, 255, 0.05);
  --white-025: rgba(255, 255, 255, 0.025);
  --white-0125: rgba(255, 255, 255, 0.0125);

  --dark-red: #e7040f;
  --red: #ff4136;
  --light-red: #ff725c;
  --orange: #ff6300;
  --gold: #ffb700;
  --yellow: #ffd700;
  --light-yellow: #fbf1a9;
  --purple: #5e2ca5;
  --light-purple: #a463f2;
  --dark-pink: #d5008f;
  --hot-pink: #ff41b4;
  --pink: #ff80cc;
  --light-pink: #ffa3d7;
  --dark-green: #137752;
  --green: #19a974;
  --light-green: #9eebcf;
  --navy: #001b44;
  --dark-blue: #00449e;
  --blue: #357edd;
  --light-blue: #96ccff;
  --lightest-blue: #cdecff;
  --washed-blue: #f6fffe;
  --washed-green: #e8fdf5;
  --washed-yellow: #fffceb;
  --washed-red: #ffdfdf;

  /* Colors */
  --text-color: var(--near-white);
  --header-color: var(--washed-green);
  --background-color: var(--near-black);
  --link-color: var(--hot-pink);
  --text-bold-color: var(--washed-blue);
  --code-highlight-color: var(--light-purple);
  --inverse-text-color: var(--navy);
  --inverse-background-color: var(--light-yellow);
  --inverse-header-color: var(--blue);
  --inverse-link-color: var(--light-green);
  --title-slide-background-color: var(--lightest-blue);
  --title-slide-text-color: var(--white);
  --header-background-color: var(--washed-green);
  --header-background-text-color: var(--near-black);
  --base: var(--washed-green);
  --white: var(--white);
  --black: var(--black);
}

html {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--text-font-family), var(--text-font-family-fallback),
    var(--text-font-base);
  font-weight: 300;
  color: var(--text-color);
}

h1,
h2,
h3 {
  font-family: var(--header-font-family), var(--header-font-family-fallback);
  font-weight: 600;
  color: var(--header-color);
}






.remark-slide-content {
  background-color: var(--background-color);
  font-size: 1rem;
  padding: 16px 64px 16px 64px;
  width: 100%;
  height: 100%;
}

.remark-slide-content h1 {
  font-size: var(--header-h1-font-size);
}

.remark-slide-content h2 {
  font-size: var(--header-h2-font-size);
}

.remark-slide-content h3 {
  font-size: var(--header-h3-font-size);
}







































































































































.remark-code,
.remark-inline-code {
  font-family: var(--code-font-family), Menlo, Consolas, Monaco, Liberation Mono,
    Lucida Console, monospace;
}

.remark-code {
  font-size: var(--code-font-size);
}

.remark-inline-code {
  font-size: var(--code-inline-font-size);
  color: var(--washed-green);
}

.remark-slide-number {
  color: var(--washed-green);
  opacity: 1;
  font-size: 0.9rem;
}
.remark-code-line-highlighted {
  background-color: var(--code-highlight-color);
}
strong {
  font-weight: bold;
  color: var(--text-bold-color);
}

a,
a>code {
  color: var(--link-color);
  text-decoration: none;
}

.footnote {
  position: absolute;
  bottom: 60px;
  padding-right: 4em;
  font-size: 0.9em;
}



.inverse {
  background-color: var(--inverse-background-color);
  color: var(--inverse-text-color);
}

.inverse h1,
.inverse h2,
.inverse h3 {
  color: var(--inverse-header-color);
}

.inverse a,
.inverse a>code {
  color: var(--inverse-link-color);
}

.title-slide,
.title-slide h1,
.title-slide h2,
.title-slide h3 {
  color: var(--title-slide-text-color);
}

.title-slide {
  background-color: var(--title-slide-background-color);
}

.title-slide .remark-slide-number {
  display: none;
}

/* Two-column layout */
.left-column {
  width: 20%;
  height: 92%;
  float: left;
}

.left-column h2,
.left-column h3 {
  color: var(--washed-green) 99;
}

.left-column h2:last-of-type,
.left-column h3:last-child {
  color: var(--washed-green);
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right+* {
  clear: both;
}

img,
video,
iframe {
  max-width: 100%;
}

blockquote {
  border-left: solid 5px var(--washed-green) 80;
  padding-left: 1em;
}

.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.remark-slide table thead th {
  border-bottom: 1px solid #ddd;
}

th,
td {
  padding: 5px;
}

.remark-slide thead,
.remark-slide tfoot,
.remark-slide tr:nth-child(even) {
  background: #051010;
}

table.dataTable tbody {
  background-color: var(--background-color);
  color: var(--text-color);
}

table.dataTable.display tbody tr.odd {
  background-color: var(--background-color);
}

table.dataTable.display tbody tr.even {
  background-color: #051010;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: var(--text-color);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: var(--text-color) !important;
}

/* Horizontal alignment of code blocks */
.remark-slide-content.left pre,
.remark-slide-content.center pre,
.remark-slide-content.right pre {
  text-align: start;
  width: max-content;
  max-width: 100%;
}

.remark-slide-content.left pre,
.remark-slide-content.right pre {
  min-width: 50%;
  min-width: min(40ch, 100%);
}

.remark-slide-content.center pre {
  min-width: 66%;
  min-width: min(50ch, 100%);
}

.remark-slide-content.left pre {
  margin-left: unset;
  margin-right: auto;
}

.remark-slide-content.center pre {
  margin-left: auto;
  margin-right: auto;
}

.remark-slide-content.right pre {
  margin-left: auto;
  margin-right: unset;
}

/* Slide Header Background for h1 elements */
.remark-slide-content.header_background>h1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--header-background-color);
  color: var(--header-background-text-color);
  padding: 2rem 64px 1.5rem 64px;
  margin-top: 0;
  box-sizing: border-box;
}

.remark-slide-content.header_background {
  padding-top: 7rem;
}

@page {
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

.base {
  color: var(--base);
}

.bg-base {
  background-color: var(--base);
}

.white {
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
}

.black {
  color: var(--black);
}

.bg-black {
  background-color: var(--black);
}

/* Joey */

.capitalize {
  text-transform: capitalize;
}
